{% extends 'base.html' %}

{% block content %}
<div class="container m-4">
    <div class="p-4 m-4">
        <div class="col-lg-5 border pt-4 mx-auto">
            <div class="text-center col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo_ixud3zjIa6tz2NLOgIcXnedMP_HX0gKiQ&s style=height:150;">

              <div class="display-8"> Create An Account</div>
              <hr>
            </div>
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class=" form-group">
                    <label>First_Name</label>
                    <input type="text" name="first_name" class="form-control" placeholder="First Name">
                </div>

                    <div class=" form-group">
                    <label>Last_Name</label>
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                    </div>

                    <div class=" form-group">
                    <label>phone</label>
                    <input type="number" name="phone" class="form-control" placeholder="phone">
                    </div>

                    <div class=" form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="email">
                    </div>

                    <div class=" form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="password">
                    </div>

                    <hr>
                    <div class="form-group">
                        <input type="submit" class="btn btn-sm btn-info" value="Create An Account">
                    </div>

            </form>

        </div>
    </div>

</div>



{% endblock %}